footer {
  li {
    list-style-type: none;
    margin-right: 10px;
  }

  ul {
    margin-left: 0px !important;
    font-size: 1.5em;
  }

  ul li {
    display: inline !important;
  }

  a {
    text-decoration: none !important;
    color: $text-color !important;
  }
}